/* Reset default browser styles */
html, body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Specify font family for all text */
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Center content vertically and horizontally */
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure container takes up at least the height of the viewport */
    padding: 20px; /* Add padding to create space around content */
    box-sizing: border-box; /* Include padding in element's total width and height */
}

/* Container styles */
.container {
    display: flex;
    text-align: center;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px; /* Limit the width of the container */
    width: 100%; /* Ensure container takes up full width of parent */
    margin-bottom: 20px; /* Add space between content and button */
}

/* Button styles */
.home-button {
    display: block; /* Ensure the button occupies the full width of the container */
    width: 100%; /* Ensure button takes up full width of parent */
    padding: 10px 20px;
    background-color: #007bff; /* Blue color */
    color: #fff; /* White text */
    text-decoration: none;
    max-width: 300px; /* Limit the width of the container */
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
